/* Home.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .custom-button {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    background-color: black; /* Adjust color to match your theme */
    color: white; /* Text color */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 15px;
  }
  
  .logo h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 30px; 
  }

  .logo img{
    margin-left: 30px;
  }
  



  
 /* user.css */

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  height: 150px;
}

.logs-container {
  padding: 20px;
}

.log-card {
  margin-bottom: 20px;
}

.log-card h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.log-card p {
  margin: 5px 0;
}
